name: Build 2025 content
on:
  push:
    branches:
jobs:
  courseworks:
    name: Check courseworks
    runs-on: ubuntu-latest # or macOS-latest, or windows-latest
    steps:
      - uses: actions/checkout@v4

      # Setup GHC and cabal
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.8.2'
          cabal-version: '3.10.3.0'

      # Setup Agda its standard library
      - uses: wenkokke/setup-agda@main
        with:
          agda-version: '2.7.0.1'
          agda-libraries: |
            https://github.com/agda/agda-stdlib.git#v2.2
          agda-defaults: |
            standard-library

      # Check 0-Install.agda
      - run: 'echo "ci" | make'
        working-directory: archives/2025/courseworks/0-Install

      # Check 1-Circuits.agda
      - run: make
        working-directory: archives/2025/courseworks/1-Circuits

      # Check 2-Genetic.agda
      - run: make ci
        working-directory: archives/2025/courseworks/2-Genetic